---
---
@import "minima";

/* --- ESTILOS PERSONALIZADOS DEL BLOG --- */
.post-motociclismo { background-color: #f4f4f4; padding: 20px; border-left: 5px solid #d32f2f; margin-bottom: 30px; }
.post-motociclismo h3 { color: #222; text-transform: uppercase; }
.imagen-blog { width: 100%; max-width: 500px; height: auto; border-radius: 6px; display: block; margin: 15px 0; }